.wrapperText {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 20px;
}


.wrapper {
	display: flex;
	justify-content: space-around;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media (max-width: 765px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
	}

	.img {
		width: 50%;
		height: 60%;
	}
}