html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: #F5F6F8;

  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}


body {
  display: grid;
  grid-template-columns: 0.5fr minmax(320px, 1200px) 0.5fr;
}

._wrapperBody {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

:root {
  --primary: #7351f5;
  --primary-hover: #6344df;
  --black: #3B434E;
  --gray-light: #EBEBEB;
}